---
layout: page.liquid
---

{% assign items = wishlist.items | filterWanted : filter %}
<h1 class="heading"><a class="switch" href="{{headerUrl}}">{{ title }}</a></h1>
<main class="items">
  {% for item in items %}
      <a href="{{ item.link }}" class="item">
        <div class="frame">
        {% assign external = item.src | isUrl %}
          {% if external %}
            <img class="image" src="{{ item.src }}" alt="{{ item.name }}">
          {% else %}
            {% image item.src, item.name, "image" %}
          {% endif %}
        </div>
        <section class="description">
          <h2 class="name">{{ item.name }}</h2>
          <p class="host">{{ item.link | host }}</p>
        </section>
      </a>
  {% endfor %}
</main>