---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>ErBlack's Stuff</title>
    <link>https://erblack.me/wishlist/stuff/</link>
    <description>Tech, edc, tools and gadgets</description>
    <language>en</language>
    <image>
      <url>{{globals.host}}/blog/static/er32.png</url>
      <width>32</width>
      <height>32</height>
    </image>{% for item in wishlist.items %}
    <item>
      <title>{{ item.name }}</title>
      <link>{{ item.link }}</link>
      <description><a href="{{item.link}}">{{ item.name }}</a></description>
      <giud>{{item.link}}</giud>
    </item>{% endfor %}
  </channel>
</rss>