---
layout: page.liquid
---
<main class="items">
  {% for item in wishlist.items %}
  {% assign external = item.src | isUrl %}
  <a href="{{ item.link }}" class="item">
    {% if external %}
      <img class="image" src="{{ item.src }}" alt="{{ item.name }}">
    {% else %}
      {% image item.src, item.name, "image" %}
    {% endif %}
    <section class="description">
      <h2 class="name">{{ item.name }}</h2>
      <p class="host">{{ item.link | host }}</p>
    </section>
  </a>
  {% endfor %}
</main>